body {
  background: radial-gradient(ellipse at top, #e16e6e, transparent),
  radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  background-repeat: no-repeat;
  padding: 20px;

}
img {
  height: 100px;
  width: auto;
  float: right;
  background-color: #feb2b2;
  padding: 6px;
  border:solid #4d9f0c 3px;
  margin: 20px;
}

.profile {
  border-radius: 150px;
}

.info {
  color: darkslategrey;
}

h1 {
  float: right;
  color: #e66465;
}

h2 {
  font-family: serif;
  font-size: 20px;
  color: #e66465;
}

h3 {
font-size: 13px;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-left: 15px;
color: darkslateblue;

}

.about {
  color: darkslateblue;
  padding-left: 15px;
}

.green {
  color: darkgreen;
}

.col-4 {
  padding: 10px;
  border:solid cornflowerblue 5px;
  margin: 5px;
  background-color: antiquewhite;
}